@page "/"

<div class="flex items-center justify-center">
    <p class="text-2xl pt-2 pb-4">
        UPTIME PANEL
    </p>    
</div>


<div class="border-gray-600 border-2 rounded-xl bg-gray-800 p-4">
    <div class="grid">
        <div class="flex justify-between rounded border-b-2 text-gray-400 border-gray-400">
            <p>Name</p>
            <p>Url</p>
            <p>Status</p>
        </div>
        @foreach (var site in _sites)
        {
            <div class="flex justify-between">
                <p>@site.Name</p>
                <a href="@site.Uri">@site.DisplayShortUri()</a>
                <SiteStatusIndicator IsUp="@site.IsUp"/>
            </div>
        }
    </div>
</div>   

@code {
    private readonly List<Site> _sites = MockSites.Sites;
}