<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
    <div class="p-4 shadow-2xl dark:shadow-black">
        
        <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-50">
            @SiteName
        </h2>
        
        <p class="text-gray-600 dark:text-gray-400 mt-1">
            @Uri.ToString()
        </p>
        
        <SiteStatusIndicator IsUp="IsUp" />
        
        <p class="text-gray-600 dark:text-gray-400 mt-1">Uptime: @UptimePercentage%</p>
        <p class="text-gray-600 dark:text-gray-400 mt-1">Last checked: 5 minutes ago</p>
    </div>
</div>

@code {
    private string SiteName { get; } = "some name";
    private Uri Uri { get; } = new("https://www.youtube.com/watch?v=nWchov5Do-o");
    private bool IsUp { get; } = true;
    private double UptimePercentage { get; } = 99.99;
}